<a href="https://colab.research.google.com/github/Kapongz/Bootstrap-test/blob/main/Hierarchical_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**hierarchical clustering**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
%config InlineBackend.figure_format='retina'


**1.   import pandas as pd**

> ນຳເອົາ Pandas ມາໃຊ້ແລ້ວຕັ້ງຊື່ໂຕປ່ຽນເປັນ pd ເພື່ອນຳເອົາໄປໃຊ້

> pandas ໃຊ້ໃນການຈັດການຂໍ້ມູນຂະໜາດນ້ອຍຈົນໄປຮອດຂໍ້ມູນຂະໜາດໃຫຍ່

**2.   import numpy as np**


> ນຳເອົາ numpy ມາໃຊ້ແລ້ວຕັ້ງຊື່ໂຕປ່ຽນເປັນ np ເພື່ອນຳເອົາໄປໃຊ້

> numpy ແມ່ນ Libary ທີ່ໃຊ້ໃນການຄຳນວນທາງຄະນິດສາດຂອງພາສາ Python ໂດຍ numpy ສາມາດຈັດການ ອາເຣ (array) ຫຼາຍມິຕິໄດ້

**3.   import matplotlib.pyplot as plt**

> ນຳເອົາ matplotlib.pyplot ມາໃຊ້ແລ້ວຕັ້ງຊື່ໂຕປ່ຽນເປັນ plt ເພື່ອນຳເອົາໄປໃຊ້

> matplotlib ແມ່ນ Module ພື້ນຖາມໃນການສ້າງກຣາຟ ໃນພາສາ python

**4.   import seaborn as sns**

> ນຳເອົາ seaborn ມາໃຊ້ແລ້ວຕັ້ງຊື່ໂຕປ່ຽນເປັນ sns ເພື່ອນຳເອົາໄປໃຊ້

> seaborn ເປັນ libary ຂອງ matplotlib ທີ່ໃຊ້ໄວ້ແຈກແຈງໃຫ້ເຮົາເຫັນພາບຂໍ້ມູນທີ່ເປັນແບບ ສຸ່ມ



**5.   %matplotlib inline**


> ແມ່ນ Magic command ທີ່ເຮັດໃຫ້ແຜນພາບທີ່ສ້າງໂດຍ matplotlib ສະແດງໃນເຊວ IPython 




**6.   %config InlineBackend.figure_format='retina'**

> ໃຊ້ %config InlineBackend. figure_format = 'retina' ຫຼັງຈາກ %matplotlib inline ເພື່ອສະແດງຮູບພາບທີ່ມີຄວາມລະອຽດສູງ

---

In [2]:
print(f'pandas  version = {pd.__version__}')
print(f'numpy   version = {np.__version__}')
print(f'seaborn version = {sns.__version__}')

pandas  version = 1.3.5
numpy   version = 1.21.6
seaborn version = 0.11.2



> ສະແດງ version ຂອງ ***pandas*** , ***numpy*** , ***seaborn***

---

In [10]:
pd.Timestamp.now()

Timestamp('2022-11-29 16:31:33.143003')



> ສະແດງ ປີ-ເດືອນ-ວັນ ເວລາ  Timezone US/Pacific ສາມາດ custom ເປັນ Timezone ປະເທດເຮົາໄດ້ pd.Timestamp.now(tz='asia/vientiane')


---

In [13]:
df=pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/BaskinRobbins.csv')
df.sample(10)

,Flavour,Calories,Total Fat (g),Trans Fat (g),Carbohydrates (g),Sugars (g),Protein (g)
8,NSA Caramel Turtle Truffle,200,8.0,0.2,38,7,5.0
62,Vanilla,220,14.0,0.5,20,16,5.0
41,Peanut Butter ‘n Banana,180,12.0,0.3,15,11,4.0
51,Raspberry Cheese Louise,220,9.0,0.3,30,24,5.0
57,Salty Caramel,160,8.0,0.3,18,15,3.0
36,Maui Brownie Madness,230,11.0,0.2,30,22,6.0
45,NSA Pineapple Coconut,160,6.0,0.2,30,8,5.0
4,Blue Raspberry Sherbet,130,2.0,0.1,26,20,2.0
18,Cookies ‘n Cake,190,10.0,0.2,21,16,3.0
66,Watermelon Splash,120,0.5,0.0,27,20,0.1



> df ເປັນຕົວປ່ຽນສ້າງໄວ້ເກັບຄ່າຈາກການໃຊ້ pandas ຫຼື pd ອ່ານຟາຍນາມສະກຸນ csv ໃນຕົວຢ່າງຈະເປັນ Link ຂອງຟາຍ csv ມີຂໍ້ມູນຫຼາກຫຼາຍທີ່ເອົາໄວ້ໃນ repository github

> df.sample(10) ແມ່ນຈະເອົາຕົວປ່ຽນທີ່ເຮົາເກັບຄ່າໄວ້ແລ້ວເອົາຂໍ້ມູນມາສະແດງໂດຍໃຊ້ .sample(10) ຄືຈະ Random ຕົວຢ່າງມາ 10 ແຖວຈາກຂໍ້ມູນທີ່ມີທັງໝົດໃນຟາຍນັ້ນ

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Flavour            70 non-null     object
 1   Calories           70 non-null     int64
 2   Total Fat (g)      70 non-null     float64
 3   Trans Fat (g)      70 non-null     float64
 4   Carbohydrates (g)  70 non-null     int64
 5   Sugars (g)         70 non-null     int64
 6   Protein (g)        70 non-null     float64
dtypes: float64(3), int64(3), object(1)
memory usage: 4.0+ KB



> df.info(): .info() ຈະເປັນ function ເພື່ອສະແດງຂໍ້ມູນລາຍລະອຽດທັງໝົດໃນ DataFrame ແບບຫຍໍ້

#**Scikit-learn: Hierarchical** **Clustering**

In [ ]:
from sklearn import preprocessing
from sklearn.cluster import AgglomerativeClustering
import scipy.cluster.hierarchy as sch # draw dendrogram

In [ ]:
cols=['Calories', 'Total Fat (g)', 'Trans Fat (g)', 'Carbohydrates (g)', 'Sugars (g)', 'Protein (g)']

In [ ]:
## Yeo-Johnson transformation (preferable)
pt = preprocessing.PowerTransformer(method='yeo-johnson', standardize=True) # support only positive value
mat = pt.fit_transform(df[cols])
mat[:5].round(4)

In [ ]:
X=pd.DataFrame(mat, columns=cols)
X.head()

In [ ]:
df[cols].hist(layout=(1, len(cols)), figsize=(3*len(cols), 3.5));

In [ ]:
X[cols].hist(layout=(1, len(cols)), figsize=(3*len(cols), 3.5), color='orange', alpha=.5);

In [ ]:
fig, ax=plt.subplots(figsize=(20, 7))
dg=sch.dendrogram(sch.linkage(X, method='ward'), ax=ax, labels=df['Flavour'].values)
# dg=sch.dendrogram(sch.linkage(df[cols], method='ward'), ax=ax)

In [ ]:
# doc: https://seaborn.pydata.org/generated/seaborn.clustermap.html
sns.clustermap(X, col_cluster=False, cmap="Blues")

In [ ]:
hc=AgglomerativeClustering(n_clusters=2, linkage='ward')
hc

In [ ]:
hc.fit(X)

In [ ]:
df['cluster']=hc.labels_
df.head()

In [ ]:
df.sample(10)

In [ ]:
df.groupby('cluster').agg(['count', 'mean', 'median']).T

In [ ]:
cols=['Calories', 'Total Fat (g)', 'Trans Fat (g)', 'Carbohydrates (g)', 'Sugars (g)', 'Protein (g)']
fig, ax = plt.subplots(nrows=2, ncols=3, figsize=(20, 9))
ax=ax.ravel()
for i, col in enumerate(cols):
    sns.violinplot(x='cluster', y=col, data=df, ax=ax[i])

In [ ]:
dx=X
dx['cluster']=hc.labels_

In [ ]:
df.groupby('cluster').head(3).sort_values('cluster')

#**Scikit-learn: KMeans Clustering**

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
model = KMeans(n_clusters=2)
model

In [ ]:
# X=df[cols]

In [ ]:
model.fit(X)

In [ ]:
model.labels_

In [ ]:
df['cluster_kmeans']=model.labels_

In [ ]:
df.head()